html
  font-family: Arial
h3
  color: #888
  margin-bottom: 10px
#publishUrlWrp
  // border: 1px solid black
  #publishUrl
    width: 500px
    border: 1px solid #ccc
    padding: 10px
    font-size: 14px
  #publishBtn
    -webkit-appearance: none
    background-color: #FFF
    color: black
    border: solid #ccc 1px
    font-size: 14px
    padding: 10px
    width: 100px
#bandwidthWrp
  #bandwidth
    width: 100px
    border: 1px solid #ccc
    padding: 10px
    font-size: 14px
#resolutionWrp
  #resolution
    width: 120px
    border: 1px solid #ccc
    padding: 10px
    font-size: 14px
#localVideoWrp
  width: 627px
  background-color: #eee
  text-align: center
#logs
  width: 607px
  height: 300px
  background-color: #eee
  font-size: 12px
  padding: 10px
  overflow-y: scroll

.rotatedVideo
  // rotate video to make it natural
  transform: scale(-1, 1) /*For Firefox (& IE) */
  -webkit-transform: scale(-1, 1) /*for Chrome & Opera (& Safari) */
